


@font-face {
   font-family: 'bauhous'
}


div { pedding-top: 150; 
width: 600px;
min-height: 770px;
background-color: antiquewhite;
border: 1px solid black;
margin: 10px;
padding: 60px;
font-family: 'Courier New', Courier, monospace;
text-align: justify;
} 

#mysecondparagraph {
    font-family: 's';
    font-weight: bold;
    text-align: right; 
    width:50ch; 
    margin-left: auto;  

}

#mylargeX {
font-size: 5rem;
}

#mythirdparagraph, #my1paragraph { 
    line-height: 36px;

}

#my1paragraph {margin-top: 120px;}